<div class="footer-container">
  <h1 class="footer-title">Rehoboth Musical Institution</h1>
  <footer class="footer-inner-container row row-cols-1 row-cols-sm-2 row-cols-md-5  ">


    <div class="col mb-3">
      <h4 class="footer-inner-title">USEFUL LINKS</h4>
      <ul class="flex-column">
        <li class=" mb-2 footer-text"><a href="#" >Home</a></li>
        <li class=" mb-2 footer-text"><a href="#" >About</a></li>
        <li class=" mb-2 footer-text"><a href="#" >Courses</a></li>
        <li class=" mb-2 footer-text"><a href="#" >Contact</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h4 class="footer-inner-title">COURSES</h4>
      <ul class="flex-column">
        <li class=" mb-2 footer-text"><a href="#" ></a>Key Board</li>
        <li class=" mb-2 footer-text"><a href="#" >Guitar</a></li>
        <li class=" mb-2 footer-text"><a href="#" >Pricing</a></li>
        <li class=" mb-2 footer-text"><a href="#" >FAQs</a></li>
        <li class=" mb-2 footer-text"><a href="#" >About</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h4 class="footer-inner-title">Section</h4>
      <ul class="flex-column">
        <li class="mb-2 footer-text"><a href="#">Home</a></li>
        <li class="mb-2 footer-text"><a href="#">Features</a></li>
        <li class="mb-2 footer-text"><a href="#">Pricing</a></li>
        <li class="mb-2 footer-text"><a href="#">FAQs</a></li>
        <li class="mb-2 footer-text"><a href="#">About</a></li>
      </ul>
    </div>
  </footer>
</div>