
<%-include("partials/header") %>
<body>
  <div class="sidebar-container">
    <div class="sidebar-content">
    <div><a href="#"><svg class="exit-icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
    </svg></a></div>
      <img class="sidebar-logo"src="/photo/logo.png">
      <h2 class="sidebar-text">Rehoboth Musicals</h2>
      <h3 class="sidebar-text">Rehobothmusicals@gmail.com</h3>
    </div>
    <div class="gold-line"></div>
    <nav class="sidebar">
      <ul class="sidebar-nav nav-pills">
        <li class="nav-item">
          <a  class="nav-link active" aria-current="page" href="#scrollspyHeading1">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page"href="#scrollspyHeading2">COURSES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page"href="#scrollspyHeading3">ABOUT</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page"href="#scrollspyHeading4">CONTACT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page"href="#scrollspyHeading5">STUDENT LOGIN</a>
        </li>    
      </ul>
    </nav>
  </div>


  <div class="navebars">
    <div class="gold-line"></div>
    <nav class="nav-container">
          <ul class="nav nav-pills">
            <li><a href="#"><svg class="menu-icon"xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg></a></li>
            <li class="nav-item hideOnMobile">
              <a  class="nav-link active" aria-current="page" href="#scrollspyHeading1"><div class="button"><button>HOME</button></div></a>
            </li>
            <li class="nav-item hideOnMobile">
              <a class="nav-link" aria-current="page"href="#scrollspyHeading2"><div class="button"><button>COURSES</button></div></a>
            </li>
            <li class="nav-item hideOnMobile">
              <a class="nav-link" aria-current="page"href="#scrollspyHeading3"><div class="button"><button>ABOUT</button></div></a>
            </li>
            <li class="nav-item hideOnMobile">
              <a class="nav-link" aria-current="page"href="#scrollspyHeading4"><div class="button"><button>CONTACT US</button></div></a>
            </li>
            <li class="nav-item hideOnMobile">
              <a class="nav-link" aria-current="page"href="#scrollspyHeading5"><div class="button"><button>STUDENT LOGIN</button></div></a>
            </li>  
            <li class="nav-text "><a href="#">Navbar</a></li>  
          </ul>
    </nav>

  <div class="gold-line"></div>
</div>



  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary  rounded-2" tabindex="0">
    <div class="static-container" id="scrollspyHeading1">
        <img class="static-image" src="photo/static-page.jpg">
        <div class="static-text-container">
            <h1>Let Music Belongs To Everyone</h1>
            <h3>Every classes with expert faculty,customized learning and world classes curriculum</h3>
        </div>
    </div>
    <h1 id="scrollspyHeading2"></h1>
     <h1 class="courses-title" >COURSES</h1>





    <div class="whole-slideshow-container">
      <div class="slideshow-container">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="slide-image" src="photo/image1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img class="slide-image"src="photo/image2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img class="slide-image"src="photo/image2.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
          <h4 class="slideshow-heading">key Board</h4>
          <h7 class="slideshow-text">Unlock your musical potential with our online keyboard lessons-the gateway to a world of harmonious self-expression.</h7>
      </div>
    
      <div class="slideshow-container">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="slide-image" src="photo/image1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img class="slide-image"src="photo/image2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img class="slide-image"src="photo/image2.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <h5 class="slideshow-heading">Guitar</h5>
        <h8 class="slideshow-text">For aspirings,our online platform offers a harmonious path to master,Strum,pick and pluck.</h8>
      </div>
    
      <div class="slideshow-container">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="slide-image" src="photo/image1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img class="slide-image"src="photo/image2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img class="slide-image"src="photo/image2.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <h4 class="slideshow-heading">Violin</h4>
        <h7 class="slideshow-text">Elevate your musical power with our virtual violin school. From classical to contemporary, let us be your guide.</h7>
      </div>
    
      <div class="slideshow-container">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="slide-image" src="photo/image1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img class="slide-image"src="photo/image2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img class="slide-image"src="photo/image2.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <h4 class="slideshow-heading">Carnatic/Bhajan/Thevaram</h4>
        <h7 class="slideshow-text">Discover the enchanting world of indian classical vocals. Immerse yourself in the rich traditions.</h7>
      </div>
    
      <div class="slideshow-container">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="slide-image" src="photo/image1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img class="slide-image"src="photo/image2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img class="slide-image"src="photo/image2.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <h4 class="slideshow-heading">Mirdhangam</h4>
        <h7 class="slideshow-text">Experience the rhythmic magic of the Mirdangam. Join our latform to master this classical percussion instrument.</h7>
      </div>
    
      <div class="slideshow-container">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="slide-image" src="photo/image1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img class="slide-image"src="photo/image2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img class="slide-image"src="photo/image2.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <h4 class="slideshow-heading">Trinity Grade</h4>
        <h7 class="slideshow-text">Dive into the world of Western musicals, where storytelling meets melody. Join us for a journey.</h7>
      </div>
    
      <div class="slideshow-container">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="slide-image" src="photo/image1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img class="slide-image"src="photo/image2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img class="slide-image"src="photo/image2.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <h4 class="slideshow-heading">Indian Classical Grade</h4>
        <h7 class="slideshow-text">Step into the timeless world of classical musicals. Be transported to an era of elegance,grace and powerful music.</h7>
      </div>
    </div>
      
    <div id="scrollspyHeading4">
      <%- include("partials/footer.ejs") %>
    </div>
    </div>
  


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/javascript/sidebars.js" charset="utf-8"></script>

</body>

</html>
