.footer-container{
    background-color: #4F2C71;
    color: aliceblue;
    padding-top: 20px;
    min-width: 100rem;
}

.footer-inner-container{
    margin-top: 55px;
}

li{
    color:aliceblue;
}
ul{
    color:aliceblue;  
}
.footer-title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 50px;
}
.footer-inner-title{
    text-align: left;
    justify-content: flex-start;
}
.flex-column{
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-basis: 20px;
}
a{
    color:aliceblue;
    text-decoration: none;
}
.footer-para{
    color:aliceblue;
}
.footer-text{
    font-size: 20px;
    text-align: left;
}
